.nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    margin: 0;
}

.lists {
    display: flex;
    align-items: center;
}

.linkli {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.linkli:hover {
    color: #ddd;
}

.logout-button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
}

.logout-button:hover {
    background-color: #444;
}
